*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/Assets
/app/src/main/java/com/si_ware/neospectra/DummyClassForTesting.java
/../../../../../../../DummyClassForTesting.java
/app/google-services.json
